


/* Reset some default browser styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Apply a background color and set the font for the entire page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Center the header content and set a background color */
.header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

/* Style the form container */
#survey-form {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style form fieldsets and labels */
fieldset {
    border: none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style text input and select elements */
input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style checkbox and radio input elements */
input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
    margin-right: 5px;
    min-height: 1rem;
    min-width: 1rem;
}

/* Style textarea */
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

/* Style the submit button */
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2779b6;
}

.desease {
    margin: 10px;
}

.food {
    margin: 10px;
}