html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body, main {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        red,
        #e3000b
    ) ;    height: 130px;
}

.logo {
    width: 125px;
}

nav ul li:hover a {
    text-decoration: underline 4px solid white;
    line-height: 2
}

nav ul li a {
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}


nav ul li {
    margin: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
    
}

h1, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    margin: 100px auto;
}

section[id="welcome"] {
    background: #e3000b;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 100px;
    width: 50%;
}

h3 {
    width: 40%;
}


iframe {
    background-color: white;
    padding: 10px;
    border-radius: 10%;
    margin: auto;
}

.flower {
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}
.description {
    z-index: 999;
}
.description h2 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 60px;
    padding: 100px;
    padding-bottom: 10px;
    width: 50%;
}

.description p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 100px;
    width: 30%;
}

.description button {
    background-color: #e3000b;
    border: none;
    padding: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}

button::after {
    content: " >>";
}

.product {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background-color: #e3000b;
    justify-content: space-between;
}

.products {
    display: flex;
    overflow: scroll;
}

.product p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

.product img {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

h2 {

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login input[id="submit"] {
    background-color: #e3000b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.more {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding: 100px 20px;
    background-color: #e3000b;
}
.more a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: middle;
}

@media screen and (max-width: 100px) {
    .flower img{
        width: 700px;
    }
    .section[id="discover"] {
        width: 700px;
    }
}